<h1>Contacts:</h1>
<ol>
  @foreach(var Contact in Model)
  {
    <li> Name: @Contact.GetName() <br> Phonenumber: @Contact.GetPhonenumber() <br> Address: @Contact.GetAddress() </li>
  }
</ol>
<p><a href="/">return home</a></p>
<form action="/contacts_deleted" method="post">
  <button type="submit" name="button">clear your list</button>
</form>
